// JavaScript source code
<!DOCTYPE html>
html
    head
        title = Welcome to Hunarmund
body
       // h1 = message
       nav
            ul
                   li
                   a(href="/") Home
                        li
                        a(href="/login") Login

                        block content

                                